@import "../../styles/vars.scss";
@import "../../styles/mixin.scss";

.nav {
  height: $nav-height;
  width: calc(100% - 60px);
  position: fixed;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  @include transparent-bg(0.7);

  .nav-link {
    &.logo {
      img {
        height: 70px;
        transition: transform 0.3s ease-out;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }

  .nav-right {
    right: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: $text-color-main;

    & .nav-settings-icon {
      transition: transform 0.2s linear;
      font-size: 1.5rem;

      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}

.settings-in-drawer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .horizontal-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .volume-sliders {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .nav-settings-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .slider {
          width: 100%;
        }

        .nav-settings-icon {
          font-size: 2em;
        }
      }
    }
  }

  .graphic-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }
}
