@import "../../styles/vars.scss";

.nav {
  height: $nav-height;
  width: calc(100% - 60px);
  position: fixed;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: rgba($color: $bg-color, $alpha: 0.7);

  .nav-link {
    &.logo {
      img {
        height: 70px;
        transition: transform 0.3s ease-out;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $text-color-main;

    & .nav-settings-icon {
      cursor: pointer;
    }
  }
}
