@import "../../styles/vars.scss";

.nav {
  height: 75px;
  position: relative;
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba($color: $bg-color, $alpha: 0.7);

  .nav-link {
    &.logo {
      flex: 1;
      img {
        height: 70px;
        transition: transform 0.3s ease-out;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}
