@import "../../styles/vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Itim", cursive;
}

.app {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/home-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
